{% extends 'base.html' %}
{% load static %}

{% block title %}
  BlogSpot - Authors
{% endblock %}

{% block content %}
  <link rel="stylesheet" href="{% static 'css/authors.css' %}">

  <div class="authors-container">
    <h2 class="table-heading">Authors and Their Blogs</h2>
    <table>
      <thead>
        <tr>
          <th>Username</th>
          <th>Full Name</th>
          <th>About</th>
          <th>Blogs Published</th>
        </tr>
      </thead>
      <tbody>
        {% for author in authors %}
          <tr>
            <td><a href="{% url 'blogapp:profile' username=author.author.username %}">{{ author.author.username }}</a></td>
            <td>{{ author.author.first_name }} {{ author.author.last_name }}</td>
            <td>{{ author.about }}</td>
            <td>{{ author.blog_count }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
