{% extends 'base.html' %}
{% load static %} 

{% block title %} 
  Profile of {{current_user.username }} 
{% endblock %} 

{% block content %}

<link rel="stylesheet" href="{% static 'css/profile.css' %}" />
<div class="profile-container">
  <div class="profile-details">
    <img
      src="{{ profile.profilePic.url }}"
      alt="{{ current_user.username }}'s profile picture"
      class="profile-pic"
    />
    <h2>{{ current_user.username }}</h2>
    <p>
      <strong>Full Name:</strong> {{ current_user.first_name }} {{ current_user.last_name }}
    </p>
    <p><strong>Birthdate:</strong> {{ profile.birthdate }}</p>
    <p><strong>About:</strong> {{ profile.about }}</p>
  </div>

  <div class="user-blogs">
    <h3 class="user-blog-heading">{{ current_user.username }}'s Blogs</h3>
    <div class="blog-tiles">
      {% for blog in blogs %}
      <div class="blog-tile">
        <a href="{% url 'blogapp:blog_details' slug=blog.slug %}">
          <h4 class="blog-title">{{ blog.title }}</h4>
          <p class="blog-date">{{ blog.created_at|date:"F j, Y" }}</p>
        </a>
        {% if user.is_authenticated and user == blog.author %}
        <div class="blog-actions">
          <a
            href="{% url 'blogapp:edit_blog' slug=blog.slug %}"
            class="edit-link"
            >Edit</a
          >
          <form
            action="{% url 'blogapp:delete_blog' slug=blog.slug %}"
            method="POST"
            style="display: inline"
          >
            {% csrf_token %}
            <button type="submit" class="delete-link">Delete</button>
          </form>
        </div>
        {% endif %}
      </div>
      {% empty %}
      <p>No blogs published yet.</p>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
