/* Blog container for grid layout */
.blog-container {
  display: grid;
  gap: 2.5em;
  max-width: 1200px;
  margin: 20px auto;
  padding: 10px;
  justify-items: center;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

/* Blog card styling */
.blog-card {
  --hue-1: 210;
  --hue-2: 238;
  --container-color: hsl(242, 50%, 11%);
  padding: 20px;
  border-radius: 1.25rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 90%;
  height: 200px;
  position: relative;
  text-align: center;
  color: rgb(231, 247, 247);
  border: 4px solid transparent;
  background: linear-gradient(var(--container-color), var(--container-color)) padding-box, linear-gradient(135deg, hsl(var(--hue-1), 85%, 70%) 0%, var(--container-color), var(--container-color), hsl(var(--hue-2), 70%, 55%) 100%) border-box;
  overflow: hidden;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s;
}

.blog-card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  --hue-1: 240;
  --hue-2: 200;
  border: 4px solid transparent;
  background: linear-gradient(var(--container-color), var(--container-color)) padding-box, linear-gradient(135deg, hsl(var(--hue-1), 85%, 70%) 0%, var(--container-color), var(--container-color), hsl(var(--hue-2), 70%, 55%) 100%) border-box;
}

.blog-title {
  font-size: 1.5em;
  margin-bottom: 10px;
  color: #b5e7e7;
  height: 1.5em; /* Set a fixed height */
  overflow: hidden; /* Hide overflow text */
  text-overflow: ellipsis; /* Add ellipsis for overflow */
  white-space: nowrap; /* Prevent wrapping */
}

.blog-author {
  font-size: 1em;
  margin-bottom: 15px;
  color: #b5e7e7;
}

.blog-preview {
  font-size: 1em;
  color: #f1f0e2;
  margin-bottom: 20px;
  height: 4em; /* Set a fixed height */
  overflow: hidden; /* Hide overflow text */
}

/* Pagination styling */
.pagination {
  text-align: center;
  margin-top: 100px;
  color: azure;
}

.pagination a {
  margin: 0 5px;
  padding: 8px 16px;
  background-color: #1a73e8;
  color: white;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s;
}

.pagination a:hover {
  background-color: #0b5ed7;
}

.pagination .current {
  font-weight: bold;
  margin: 0 5px;
  padding: 8px 16px;
  background-color: #090626;
  color: #b5e7e7;
  border-radius: 5px;
}

/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 320px) {
  .content {
    margin-inline: 1rem;
  }
  .blog-card {
    padding: 2rem 1rem;
  }
}
/* For medium devices */
@media screen and (min-width: 576px) {
  .blog-container {
    grid-template-columns: 1fr; /* One column */
  }
}
@media screen and (min-width: 768px) {
  .blog-container {
    grid-template-columns: repeat(2, 1fr); /* Two columns */
  }
}
/* For large devices */
@media screen and (min-width: 1120px) {
  .blog-container {
    grid-template-columns: repeat(3, 1fr); /* Three columns */
  }
}